@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin allow-to-drag {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

@mixin main-container($header-height, $footer-height) {
  height: calc(100vh - #{$header-height} - #{$footer-height});
  width: 100%;
}
