.swiperContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.customPagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.customPagination .swiper-pagination-bullet {
  background-color: gray !important;
}

.customPagination .swiper-pagination-bullet-active {
  background-color: black !important;
}

.thumbnail {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnailItem {
  width: 80px;
  height: 50px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.thumbnailItem:hover,
.thumbnailItem.swiper-slide-thumb-active {
  border-color: black;
}
